header {
    text-indent: 10px;
    color: rgb(48, 40, 27);
    background: rgba(46, 179, 46, 0.633);
    margin: auto;
    width: 340px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.237);
    padding: 0;
    
}

input {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px black ;
    
}

section {
    font: normal sans-serif;
    background: rgba(46, 179, 46, 0.633);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.237);

}

div#res {
    padding: 20px;
}

footer {
    color: rgb(48, 40, 27);
    text-align: center;
    padding: 10px;
    font-style: italic;
}