*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: rgb(204, 212, 220);
}
header{
    padding: 15px;
    color: rgb(68, 213, 32);
    transform: translate(-10%, -10%);
    width: 125%;
    text-align: center;
}
header span {
    font-size: 27pt;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}
header span:not(:first-child){
    margin-left: -0.30em;
}
input{
    padding: 8px;
    font-style: italic;
}
section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 550px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);
    padding: 30px;
    margin: auto;
}
div#res{

    margin-top: 19px;
    
}
footer{

    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
    font-style: italic;
}